.color-nav {
  width: 100%;
  position: absolute;
  background-color: rgba(3, 0, 0, 0.973) !important;
}
.clor-btn{
  background-image: -webkit-linear-gradient(
    0deg,
    #b45afd 0%,
    #88f3ff 100%
  ) !important;
}
.name {
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  color: #88f3ff;
}
.icon {
  font-size: 40px;
}
.mb-1 {
  height: 40px;
  width: 250px;
}
.card-style {
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  left: 0;
  width: 100%;
  top:200px;
}
.card-title{
  font-size: 40px;
  font-weight: bolder;
  color:rgb(0, 0, 15);
}
.cay_du{
font-size: 200px;

}
.temp{
  color:rgb(12, 12, 12);
  font-size: 30px;
}
.text-do{
  color: rgb(94, 151, 8);
  font-weight: bolder;
  font-size: 30px;
}
.button{
  position: absolute;
  top:600px;
}