.color-nav {
  position: absolute;
  background-image: -webkit-linear-gradient(
    0deg,
    #690a5d 0%,
    #88f3ff 100%
  ) !important;
}
.name {
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  color: #fce304;
}
.icon {
  font-size: 40px;
}
.mb-1 {
  height: 40px;
  width: 250px;
}
.card-style {
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  left: 0;
  width: 100%;
  top:200px;
}
.card-title{
  font-size: 50px;
  font-weight: bolder;
  color:blue;
}
